<form action="<%= categories_create_second_path %>" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  대분류 선택하기 

  <select id="first_class" name="first_class" >
  <% @first_classes.each do |f| %>
    <option value="<%= f %>"> <%= f %> </option>  
    <% end %>
  </select><br>

  중분류명 : <input type="string" name="second_class">

  <br>
   <button type="submit">제출</button>
</form>